{block main}
<div class="reg-index">
	<ul>
    	<li class="person"><div><a href="{url /register?ut=1}" class="icon"><i class="am-icon-user"></i></a><a href="{url /register?ut=1}">我是<br />求职者(个人)</a></div></li>
    	<li class="company"><div><a href="{url /register?ut=2}" class="icon"><i class="am-icon-users"></i></a><a href="{url /register?ut=2}">我是<br />招工者(企业)</a></div></li>
    	<li class="medier"><div><a href="{url /register?ut=3}" class="icon"><i class="am-icon-suitcase"></i></a><a href="{url /register?ut=3}">我是<br />职介所(中介)</a></div></li>
    </ul>
</div>
{/block}