{block main}
<div class="main-nav">
  <div class="name">操作日志</div>
  <div class="navbtn0">
  
  </div>
  <div class="navbtn">
  <!--button-->
	  {if $this->check_purview('/user_manager/userlog_refresh')}
  <button type="button" class="btn btn-default btn-sm refresh-btn" data-loading-text="处理中……">&nbsp;<cite class="glyphicon glyphicon-refresh"></cite>&nbsp;</button> 
  	{/if}
	  <!--end button-->
  </div>
  <div class="cl"></div>
</div>
<!--search box-->
<form enctype="multipart/form-data" class="the_searchform form" method="POST" action="{url /user_manager/userlog?do=get_url}">
<div class="tpl"></div>
</form>
<!--end search box -->
<!-- list box -->
<form action="" class="thelistform">
<div class="list-box">
<table class="list-table table table-striped table-condensed table-responsive" cellpadding="0" cellspacing="0">
    <col width="150px" />
	<col width="230px" />
	<col width="150px" />
	<col />
	<col width="190px" />
	<thead>
	<tr>
	<th>时间</th>
	<th>用户</th>
	<th>操作类型</th>
	<th>操作详情</th>
	<th>操作IP</th>
	</tr>
	</thead>
	<tbody class="tpl"></tbody>
</table>
</div>
<div class="pagebar"></div>
</form>
<!-- end list box -->
{/block}

{block css}
<link href="{url static@/javascript/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" type="text/css" rel="stylesheet">
{/block}

{block javascript}
{include tpl/form}
<script type="text/template" id="tpl_list_row">
<#macro row data>
    <tr>
    <td>${data.dateline}</td>
    <td class="font-gray">${data.author}<span class="font-gray2">({<#if (data.uid>0)>${data.uid}<#else> - </#if>})</span></td>
    <td>${data.action}</td>
    <td class="font-gray">${data.content}</td>
    <td class="font-gray">${data.ip}</td>
	</tr>
</#macro>
</script>
<script language="javascript" src="{url static@/javascript/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script language="javascript" src="{url static@/javascript/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js#utf-8}"></script>
<script language="javascript">
var pageurl = "{$pageurl}";
var formdata = {
	startdate:{type:"date",label:"时间",name:"startdate",value:"",data_sr:[],css:"shigh",require:"",desc:"",item_css:""},
	enddate:{type:"date",label:"-",name:"enddate",value:"",data_sr:[],css:"shigh",require:"",desc:"",item_css:"date-dis"},
    keyword:{type:"text",label:"UID/关键词",name:"keyword",value:"",data_sr:[],css:"",require:"",desc:"",item_css:""},
    company:{type:"hidden",name:"company",value:"{$condi['company']}"},
	btn:{type:"button",label:"",value:"搜索",desc:'',css:"btn-sm"}
};
var loadlist = function(page){
	$.ajaxLoadlist(page,pageurl,function(){
		var keyword = $(".the_searchform input[name='keyword']").val();
		if(keyword != ""){
			var listhtml = $(".thelistform").find(".tpl").html();
			$(".thelistform").find(".tpl").html($.replace_keyword(listhtml,keyword));
		}
	});
}
$(function(){
	//加载搜索
	 $.loadform(formdata,"",function(res){
	 	pageurl = res.pageurl;
	 	loadlist(1);
		return true;
	 },null,".the_searchform");
	 $(".date-ymd").datetimepicker({
		language:  'zh-CN',
		autoclose: 1,
		startView: 2,
		minView: 2,
		maxView: 4,
		format:"yyyy-mm-dd",
		pickerPosition: "bottom-right"   
	});
	 loadlist(1);
	 $(".refresh-btn").click(function(){
	 	 loadlist(1);
	 });
	 
})
</script>
{/block}