{block logotit}找回密码{/block}
{block main}
<div class="dis60"></div>
<div class="dis60"></div>
<div class="am-container m-width">
    <div class="am-btn-group am-btn-group-justify">
      <a class="am-btn am-btn-default am-disabled " href="javascript:void(0)" role="button"><b>1</b>填写账户名</a>
      <a class="am-btn am-btn-default am-disabled " href="javascript:void(0)" role="button"><b>2</b>验证身份</a>
      <a class="am-btn am-btn-default am-disabled " href="javascript:void(0)" role="button"><b>3</b>设置新密码</a>
      <a class="am-btn am-btn-warning " href="javascript:void(0)" role="button"><b>4</b>完成</a>
    </div>
    <div class="dis30"></div>
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h2 class="am-center am-text-center"><a href="javascript:void(0);" class="am-icon-btn am-icon-btn-sm am-success am-icon-check"></a><span class="am-text-lg">&nbsp;&nbsp;新密码设置成功！请牢记</span></h2>
        <div class="dis30"></div>
        <div class="am-center am-text-center">
        <a href="{url account@/login}" class="am-btn am-btn-warning">立即登录</a>&nbsp;
        <a href="{url home@/}" class="am-btn am-btn-default">返回首页</a>
        </div>
    </div>
</div>
{/block}