{block main}
<div class="am-uc-left">
    <div class="leftnav" id="Leftnav">
        <ul>
            <li><a href="{url /ucenter/index}"  class="showtype ">全部域名&nbsp;&nbsp;<cite class="am-icon-angle-right"></cite></a></li>
            <li><a href="{url /ucenter/transfer}"  class="showtype cur">域名转入&nbsp;&nbsp;<cite class="am-icon-angle-right"></cite></a></li>
            <li><a href="{url /ucenter/template}"  class="showtype ">信息模板&nbsp;&nbsp;<cite class="am-icon-angle-right"></cite></a></li>
            <li><a href="{url /ucenter/order}"  class="showtype"> 我的订单&nbsp;&nbsp;<cite class="am-icon-angle-right"></cite></a></li>
        </ul>
    </div>
</div>
<div class="am-uc-right">
    <div class="domain-transfer">
        <div class="nav">
            <ul>
                <li class="un-use use1">
                    <div class="icon">
                        <span class="s cur">1</span>
                        <font class="cur">填写域名密码</font>
                        <span class="cart_icon_right"></span>
                    </div>
                </li>
                <li class="un-use use2">
                    <div class="icon">
                        <span  class="s cur">2</span>
                        <font class="cur">支付订单</font>
                        <span class="cart_icon_right"></span>
                    </div>
                </li>
                <li class="un-use use3">
                    <div class="icon">
                        <span class="s cur">3</span>
                        <font class="cur">转入处理</font>
                        <span class="cart_icon_right"></span>
                    </div>
                </li>
                <li class="un-use use4">
                    <div class="icon">
                        <span class="s">4</span>
                        <font >邮箱验证,转入成功</font>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="transfer-pay">
        <div class="dis60"></div>
        <div style="text-align: center">

            {if $domain_row['status'] == 3}
            <table class="am-table" style="width: 620px;margin: 0 auto;">
                <tbody>
                <tr>
                    <td style="text-align: right;border: 0px">转移域名:</td>
                    <td style="text-align: left;border: 0px">{$domain_row['domain']}</td>
                </tr>
                <tr >
                    <td style="text-align: right;border: 0px">转移码:</td>
                    <td style="text-align: left;border: 0px"><input type="password" name="code"  class="am-form-field"  placeholder="请您填写域名转移密码" style="font-size: 14px;width:276px;"></td>
                </tr>
                </tbody>
            </table>
            {else}
            <a href="javascript:void (0);" class="am-icon-btn am-success am-icon-check am-icon-xs"></a>&nbsp;
            <font color="">域名转入还差最后一步,请点击下面按钮提交转入申请！</font><br/>
            {/if}
            <input type="hidden" name="hash" value="{hash}">
            <button type="button" style="position: relative;top:30px;left:-120px;" class="am-btn am-btn-warning am-btn-sm add-sub">提交转入</button>
        </div>
        <div class="dis30"></div>
    </div>
</div>


{/block}

{block javascript}
<script type="text/javascript">
    var domain = "{$domain_row['domain']}";
    $(function () {
        $(".add-sub").click(function () {
            var hash = $("input[name='hash']").val();
            var code = $("input[name='code']").val();
            if (typeof code == "undefined") {
                var data1 = {domain:domain,hash:hash};
            }else{
                if ($.is_empty(code)) {
                    $.ui.error("请输入域名转移码！");
                    return false;
                }
                var data1 = {domain:domain,hash:hash,code:code};
            }
            $.ui.loading();
            $.ajaxPassport({
                url:"{url /ucenter/transfer_progress}",
                type:"POST",
                success:function (res) {
                    $.ui.close_loading();
                    if (res.error == 0) {
                        setTimeout(function () {
                            window.location.replace("{url domain@/ucenter/transfer_succ?domain=}"+domain);
                        },500);
                    }else{
                        $.ui.error(res.message);
                    }
                },
                data:data1
            })
        });
    });

</script>
{/block}