{block main}
<div class="am-uc-left">
	<div class="leftnav" id="Leftnav">
		<ul>
			<li><a href="{url /finance/index}">账户首页&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
			<li><a href="{url /finance/recharge}" >在线充值&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
			<li><a href="javascript:void(0);"  class="sms_recharge_btn">短信充值&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
			<li><a href="{url /finance/recharge_detail}"  class="cur">收支明细&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
			<li><a href="{url /finance/coupon}">代金券&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
			<li><a href="{url /finance/tg}">推广中心&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
		</ul>
	</div>
</div>
<div class="am-uc-right" style="margin-top: -10px;">
	<div class="records-nav profile_information" >
		<ul>
			<li class="alipay {if $type == 1}cur{/if}"><a href="{url /finance/recharge_detail?type=1}">资金明细</a></li>
			<li class="ebank {if $type == 2}cur{/if}"><a href="{url /finance/recharge_detail?type=2}">短信明细</a></li>
			<li class="ebank {if $type == 3}cur{/if}"><a href="{url /finance/recharge_detail?type=3}">积分明细</a></li>
		</ul>
	</div>
	<div class="dis30"></div>
	<div class="am-form-group am-finance-list-key" style="margin: 0px;">
		<div class="am-form-group am-form-icon">
			<input type="text"  class="am-form-field am-input-sm" name="startdate" onclick="laydate()" class="am-form-field" placeholder=" 开始日期">
			<i class="am-icon-calendar"></i>
		</div>
	</div>
	<div class="am-finance-list-key">
		<div class="am-form-group am-form-icon">
			<input type="text"  class="am-form-field am-input-sm" name="enddate" onclick="laydate()" class="am-form-field" placeholder=" 结束日期">
			<i class="am-icon-calendar"></i>
		</div>
	</div>
	<div class="am-finance-list-key" style="margin-left: 80px;">
		<input type="text"  name="keyword" class="am-form-field  am-input-sm" placeholder="请输入关键词" size="35"/>
	</div>
	<div class="am-finance-list-key">
		<button type="button" class="am-btn am-btn-success am-radius am-btn-sm finance-serch">搜索</button>
	</div>
	<div class="dis10" style="margin-bottom: -10px;"></div>
	<div class="am-finance-content">	</div>
</div>
{/block}

{block javascript}
{include finance/sms_recharge}
<script language="javascript" src="{url static@/javascript/laydate/laydate.js}"></script>
<script type="text/javascript">
	$(function(){
		{if $type == 1}
		load_account_list(1);
		{elseif $type == 2}
		load_account_list2(1);
		{else}
		load_account_list3(1);
		{/if}

		//搜索事件
		$(".finance-serch").unbind("click").bind("click",function(){
			var startdate = $("input[name='startdate']").val();
			var enddate  = $("input[name='enddate']").val();
			var keyword  = $("input[name='keyword']").val();

			{if $type == 1}
			load_account_list(1,keyword,startdate,enddate);
			{elseif $type == 2}
			load_account_list2(1,keyword,startdate,enddate);
			{else}
			load_account_list3(1,keyword,startdate,enddate);
			{/if}

		});
	});
</script>
<!--资金明细-->
<script type="text/template" id="tpl_accountlog_list">
	<#macro rowedit data>
		<table class="am-table">
			<col width="170"/>
			<col width="110"/>
			<col width="110"/>
			<col width="110"/>
			<col />
			<thead>
			<tr>
				<th>时间</th>
				<th>收入</th>
				<th>支出</th>
				<th>余额</th>
				<th>详情</th>
			</tr>
			</thead>
			<tbody>
			<#if (data.list.length > 0)>
				<#list data.list as account>
					<tr>
						<td><font style="color: gray">${$.time_to_string(account.dateline,"Y-m-d H:i:s")}</font></td>
						<td><#if (account.type==2)><font style="color: green">+ ${account.amount}</font><#else><font style="color: gray;"> - </font></#if></td>
						<td><#if (account.type==1)><font style="color: red">- ${account.amount}</font><#else><font style="color: gray;"> - </font></#if></td>
						<td ><font color="#ff4500">${account.amount_log}</font></td>
						<td><font style="color: gray">${account.note}</font></td>
					<tr>
				</#list>
				<#else>
					<tr><td colspan="5"><a href="##" class="am-icon-exclamation-circle am-text-danger am-text-lg"></a> <a href="##" class="am-font-gray">没有符合条件的结果?</a></td></tr>
			</#if>
			</tbody>
		</table>
		<div class="pagebar">${data.pagebar}</div>
	</#macro>
</script>
<script type="text/javascript">
	var load_account_list = function(page,keyword,startdate,enddate){
		var url = "{url /finance/accountlog?do=get}";
		var keyword  = $.is_empty(keyword)?'':keyword;
		var startdate  = $.is_empty(startdate)?'':startdate;
		var enddate  = $.is_empty(enddate)?'':enddate;
		$.ui.loading($(".am-table"));
		$.ajaxPassport({
			url:url,
			success:function(res){
				console.log(res);
				$.ui.close_loading($(".am-table"));
				var listhtml = ""+ easyTemplate($("#tpl_accountlog_list").html(),res.data);
				$(".am-finance-content").html(listhtml);

				$("button,a").bind("focus",function(){
					$(this).blur();
				});

			},
			data:{page:page,keyword:keyword,startdate:startdate,enddate:enddate},
		});
	}
</script>
<!--短信明细-->
<script type="text/template" id="tpl_accountlog_list2">
	<#macro rowedit data>
		<table class="am-table">
			<col width="170"/>
			<col width="130"/>
			<col width="130"/>
			<col width="130"/>
			<col />
			<thead>
			<tr>
				<th>时间</th>
				<th>收入</th>
				<th>支出</th>
				<th>账户短信</th>
				<th>详情</th>
			</tr>
			</thead>
			<tbody>
			<#if (data.list.length > 0)>
				<#list data.list as account>
					<tr>
						<td><font style="color: gray">${$.time_to_string(account.dateline,"Y-m-d H:i:s")}</font></td>
						<td><#if (account.type==2)><font style="color: green">+ ${parseInt(account.amount)}条</font><#else><font style="color: gray;"> - </font></#if></td>
						<td><#if (account.type==1)><font style="color: red">- ${parseInt(account.amount)}条</font><#else><font style="color: gray;"> - </font></#if></td>
						<td ><font color="#ff4500">${parseInt(account.amount_log)}条</font></td>
						<td><font style="color: gray">${account.note}</font></td>
					<tr>
				</#list>
				<#else>
				<tr><td colspan="5"><a href="##" class="am-icon-exclamation-circle am-text-danger am-text-lg"></a> <a href="##" class="am-font-gray">没有符合条件的结果?</a></td></tr>
			</#if>
			</tbody>
		</table>
		<div class="pagebar">${data.pagebar}</div>
	</#macro>
</script>
<script type="text/javascript">
	var load_account_list2 = function(page,keyword,startdate,enddate){
		var url = "{url /finance/smslog?do=get}";
		var keyword  = $.is_empty(keyword)?'':keyword;
		var startdate  = $.is_empty(startdate)?'':startdate;
		var enddate  = $.is_empty(enddate)?'':enddate;
		$.ui.loading($(".am-table"));
		$.ajaxPassport({
			url:url,
			success:function(res){
				$.ui.close_loading($(".am-table"));
				var listhtml = ""+ easyTemplate($("#tpl_accountlog_list2").html(),res.data);
				$(".am-finance-content").html(listhtml);

				$("button,a").bind("focus",function(){
					$(this).blur();
				});
			},
			data:{page:page,keyword:keyword,startdate:startdate,enddate:enddate},
		});
	}
</script>
<!--积分日志-->
<script type="text/template" id="tpl_accountlog_list3">
	<#macro rowedit data>
		<table class="am-table">
			<col width="170"/>
			<col width="130"/>
			<col width="130"/>
			<col width="130"/>
			<col />
			<thead>
			<tr>
				<th>时间</th>
				<th>收入</th>
				<th>支出</th>
				<th>账户积分</th>
				<th>详情</th>
			</tr>
			</thead>
			<tbody>
			<#if (data.list.length > 0)>
				<#list data.list as account>
					<tr>
						<td><font style="color: gray">${$.time_to_string(account.dateline,"Y-m-d H:i:s")}</font></td>
						<td><#if (account.type==2)><font style="color: green">+ ${parseInt(account.amount)}</font><#else><font style="color: gray;"> - </font></#if></td>
						<td><#if (account.type==1)><font style="color: red">- ${parseInt(account.amount)}</font><#else><font style="color: gray;"> - </font></#if></td>
						<td ><font color="#ff4500">${parseInt(account.amount_log)}</font></td>
						<td><font style="color: gray">${account.note}</font></td>
					<tr>
				</#list>
				<#else>
					<tr><td colspan="5"><a href="##" class="am-icon-exclamation-circle am-text-danger am-text-lg"></a> <a href="##" class="am-font-gray">没有符合条件的结果?</a></td></tr>
			</#if>
			</tbody>
		</table>
		<div class="pagebar">${data.pagebar}</div>
	</#macro>
</script>
<script language="javascript" src="{url static@/javascript/laydate/laydate.js}"></script>
<script type="text/javascript">
	var load_account_list3 = function(page,keyword,startdate,enddate){
		var url = "{url /finance/point_log?do=get}";
		var keyword  = $.is_empty(keyword)?'':keyword;
		var startdate  = $.is_empty(startdate)?'':startdate;
		var enddate  = $.is_empty(enddate)?'':enddate;
		$.ui.loading($(".am-table"));
		$.ajaxPassport({
			url:url,
			success:function(res){
				$.ui.close_loading($(".am-table"));
				var listhtml = ""+ easyTemplate($("#tpl_accountlog_list3").html(),res.data);
				$(".am-finance-content").html(listhtml);

				$("button,a").bind("focus",function(){
					$(this).blur();
				});
			},
			data:{page:page,keyword:keyword,startdate:startdate,enddate:enddate},
		});
	}
</script>
{/block}