{block head_menu}
<div class="menu">
 <ul>
	 {if $this->check_purview('/cms_manager/adlist')}
 <li><a href="{url /cms_manager/adlist}" class="{if '/'.$inc.'/'.$act == '/cms_manager/adlist'}cur{/if}">广告列表</a></li>
	 {/if}
	 {if $this->check_purview('/cms_manager/adlist_cate')}
 <li><a href="{url /cms_manager/adlist_cate}" class="{if '/'.$inc.'/'.$act == '/cms_manager/adlist_cate'}cur{/if}">广告类目</a></li>
	 {/if}
 </ul>
</div>
{/block}


{block main}
<div class="main-nav">
  <div class="name">广告列表</div>
  <div class="navbtn">
  <!--button-->
  {if $this->check_purview("/cms_manager/adlist_edit")}
  <a href="{url /cms_manager/adlist_edit?cat_id=$condi[cat_id]}" class="btn btn-primary btn-sm">
  <cite class="glyphicon glyphicon-plus"></cite>
  新增广告</a>
  {/if}
  <!--end button-->
  </div>
  <div class="cl"></div>
</div>
<!--search box-->
<form class="the_searchform form" method="POST" action="?do=get_url">
<div class="tpl"></div>
</form>
<!--end search box -->

<!-- list box -->
<form action="" class="thelistform">
<div class="list-box">
<table class="list-table table table-striped table-condensed" cellpadding="0" cellspacing="0">
    <col width="80px" />
	 <col width="100px" />
    <col width="200px" />
    <col width="260px" />
	<col />
    <col width="60px" />
	<col width="60px" />
	<thead>
	<tr>
	<th>显示序号</th>
	<th></th>
    <th>标题</th>
	<th>分类</th>
	<th>广告链接</th>
	<th>状态</th>
	<th>操作</th>
	</tr>
	</thead>
	<tbody class="tpl"></tbody>
</table>
</div>

<!-- -->
<div class="pagebar"></div>

</form>
<!-- end list box -->
{/block}

{block javascript}

{include tpl/form}
<!--单页编辑按钮-->
<script type="text/template" id="tpl_list_row">
<#macro row data>
    <tr>
    <td class="font-org f18"><button class="btn btn-success" type="button">${data.sort}</button>
    <font class="font-gray2">(${data.id})</font>
    </td>
    <td class="font-blue f14">
    <#if (data.type == 'txt')>
    <#elseif (!$.is_empty(data.imgurl))>
    <img src="{url static@/}${data.imgurl}" width="100" />
    <#else>
    -
    </#if>
    </td>
    <td class="font-blue f14">${data.name}<font class="font-gray">(${data.enname})</font><br/>
<font class="font-gray">${data.content}</font></td>
    <td class="font-black">${$.show_dataconfig('adlist_cate',data.cat_id).name}</td>
    <td class="font-black"><a href="http://${data.linkurl}" target="_blank">${data.linkurl}</a></td>

    <td class="font-gray"><#if (data.status==1)><cite class="glyphicon glyphicon-ok-sign font-green"></cite><#else><cite class="glyphicon glyphicon-ok-sign font-gray"></cite></#if></td>
    <td>
	<p class="table-item-op">
		{if $this->check_purview("/cms_manager/adlist_edit")}
	<a href="{url /cms_manager/adlist_edit?id=}${data.id}"  ><span class="glyphicon glyphicon-edit"></span></a>
		{/if}
		{if $this->check_purview("/cms_manager/adlist_del")}
	<a href="javascript:void(0);" class="delbtn" data-url="{url /cms_manager/adlist_del?id=}${data.id}"><span class="glyphicon glyphicon-remove"></span></a>
		{/if}
	</p>
	</td>
	</tr>
</#macro>
</script>


<script type="text/template" id="tpl_list_edit">
<#macro rowedit data>
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">${data.title}</h4>
</div>
<div class="form-content">
<form action="{url /cms_manager/adlist_edit}" method="post" class="theform form form-1" role="form">
<div class="tpl"></div>

</form>
</div>
</#macro>
</script>


<script language="javascript">
var pageurl = "{$pageurl}";
var cat_list_v = [];
{foreach items=$catlist}
cat_list_v.push({key:{$item['code']},v:'{$item['name']}'});
{/foreach}
var search_formdata = {
	cat_id:{type:"select",label:"分类",name:"cat_id",value:"{$condi['cat_id']}",disabled:0,data_sr:cat_list_v,css:"low",require:"",desc:"",item_css:"item-400"},
    keyword:{type:"text",label:"关键词",name:"keyword",value:"{$condi['keyword']}",data_sr:[],css:"",require:"",desc:"",item_css:""},
	btn:{type:"button",label:"",value:"搜索",desc:'',css:"btn-sm"}
};
var formdata = {
    cat_id:{type:"select",label:"分类",name:"cat_id",value:"",data_sr:dataConfig_A['adlist'],css:"",require:"datatype='*'",desc:"请选择上级分类",item_css:""},
	name:{type:"text",label:"分类名称",name:"name",value:"",data_sr:[],css:"",require:"datatype='*'",desc:"分类名称不可不填",item_css:""},
    description:{type:"textarea",label:"描述",name:"description",value:"",data_sr:[],css:"wide",require:"",desc:"",item_css:""},
    id:{type:"hidden",label:"-",name:"id",value:"",data_sr:[],css:"",require:"",desc:"",item_css:""},
	btn:{type:"button",label:"",value:"保存修改",desc:'<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>'}
};
var load_list = function(){
	$.loadlist([],function(res){
		$(".editbtn").click(function(){
			edit_func(this);
		});
		$(".delbtn").click(function(){
			del_func(this);
		});
	},pageurl);
}
var edit_func = function(obj){
	var edit_c = $("#tpl_list_edit").html();
	var url = $(obj).attr("data-url");
	edit_c = "" + easyTemplate(edit_c,{title:"添加/修改单页"});
	$("#myModal").find(".modal-dialog").width(760);
	$("#myModal").find(".modal-content").html(edit_c);
	$.loadform(formdata,url,function(res){
		 load_list();
		 return true;
	},function(res){
	});
	$('#myModal').modal();
}
var del_func = function(obj){
	if(confirm("你确定要删除该数据吗?删除后数据不可恢复！")){
		var url = $(obj).attr("data-url");
		$.ajaxPassport({
			url:url,
			success:function(res){
				if(res.error == 1){
					$.tips(res.message,"error");
				}else{
					$.tips(res.message,"success");
					load_list();
				}
			}
		});
	}
}
var loadlist = function(page){
	$.ajaxLoadlist(page,pageurl,function(){
		var keyword = $(".the_searchform input[name='keyword']").val();
		if(keyword != ""){
			var listhtml = $(".thelistform").find(".tpl").html();
			$(".thelistform").find(".tpl").html($.replace_keyword(listhtml,keyword));
		};
		$(".editbtn").click(function(){
			edit_func(this);
		 });
		$(".delbtn").click(function(){
			del_func(this);
		 });
	});
}
$(function(){
	  //加载搜索
	 $.loadform(search_formdata,"",function(res){
	 	pageurl = res.pageurl;
	 	loadlist(1);
		return true;
	 },null,".the_searchform");

	 loadlist(1);
	 $(".addbtn").click(function(){
		edit_func(this);
	 });
})

//文档加载后执行
$(function(){
     //加载所有单页
	 load_list();

     //新增单页按钮
	 $(".addbtn").click(function(){
		edit_func(this);
	 });
})
</script>
{/block}