{block head_menu}
    <div class="menu">
    <ul>
		{if $this->check_purview("/domain_monitor/monitor")}
		<li><a href="{url  /domain_monitor/monitor}" class="cur">监控域名</a></li>
		{/if}
		{if $this->check_purview("/domain_monitor/monitor_record")}
		<li><a href="{url  /domain_monitor/monitor_record}">域名监控线路队列</a></li>
		{/if}
    </ul>
    </div>
{/block}

{block main}
<div class="main-nav">
  <div class="name">监控域名列表</div>
  <div class="cl"></div>
</div>
<!--search box-->
<form class="the_searchform form" method="POST" action="{url /domain_monitor/monitor?do=get_url}">
	<div class="tpl"></div>
</form>
<!--end search box -->
<!-- list box -->
<form action="" class="thelistform">
<div class="list-box">
<table class="list-table table table-striped table-condensed table-responsive table-checkall" cellpadding="0" cellspacing="0">
	<col width="50px"/>
	<col />
	<col width="80px"/>
	<col width="100px"/>
	<col width="110px"/>
	<col width="150px"/>
	<col width="80px"/>
	<col width="150px"/>
	<thead>
	<tr>
	<th><input type="checkbox" data-name="records[]" class="checkall"/></th>
	<th>监控主机</th>
	<th>监控记录</th>
	<th>监控节点</th>
	<th>监控频率</th>
	<th>时间</th>
	<th>状态</th>
	<th>操作</th>
	</tr>
	</thead>
	<tbody class="tpl"></tbody>
</table>
</div>
<div class="pagebar"></div>
</form>
<!-- end list box -->
{/block}

{block javascript}
{include tpl/form}


<script type="text/template" id="tpl_list_row">
<#macro row data>
    <tr>
    <td><input type="checkbox" name="records[]" value=""/></td>
    <td class="font-blue"><a href="{url /domain_monitor/monitor_record?keyword=}${data.domain}"><span class="keybox">${data.RRname}.${data.domain}:${data.monitor_port}</span></a></td>
    <td class="font-blue"><span class="keybox font-green">${data.monitor_item.length}条</span></a></td>
    <td class="font-blue"><span class="keybox font-gray">${data.monitor_node}</span></a></td>
    <td class="font-gray"><span class="keybox">${data.monitor_rate}分钟/次</span></td>
    <td>${data.dateline}</td>
    <td><#if (data.status==0)><span class="font-green">监控中</span><#else><span class="font-red">已暂停</span></#if></td>
    <td>
		<p class="table-item-op">
			{if $this->check_purview("/domain_monitor/monitor_record")}
			<a href="{url /domain_monitor/monitor_record?keyword=}${data.domain}"  title="查看解析记录"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;
			{/if}
			{if $this->check_purview("/domain_monitor/monitor_edit")}
			<a href="javascript:void(0);" class="editbtn"  data-url="{url /domain_monitor/monitor_edit?monitor_id=}${data.monitor_id}" title="更改"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
			{/if}
			{if $this->check_purview("/domain_monitor/monitor_del")}
			<a href="javascript:void(0);" class="delbtn" confirm="1" data-url="{url /domain_monitor/monitor_del?monitor_id=}${data.monitor_id}" title="删除"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;
			{/if}
		</p>
	</td>
	</tr>
</#macro>
</script>


<script language="javascript">
	var nodeArr = {echo JSON::encode($nodeArr)};
	var pageurl = "{$pageurl}";
	var search_formdata = {
		node: {type: "select", label: "监控节点", name: "node", value: "", disabled: 0, data_sr:nodeArr, css: "", require: "", desc: "", item_css: ""},
		keyword:{type:"text",label:"关键词",name:"keyword",value: "",data_sr:[],css:"",require:"",desc:"",item_css:""},
		btn:{type:"button",label:"",value:"搜索",desc:'',css:"btn-sm"}
	};
	var loadlist = function(page){
		$.ajaxLoadlist(page,pageurl,function(res){
			var keyword = $(".the_searchform input[name='keyword']").val();
			if(keyword != ""){
				$(".thelistform").find(".tpl .keybox").each(function(){
					var obj = this;
					var html = $(obj).html();
					$(obj).html($.replace_keyword(html,keyword))
				});
			};
			//删除域名监控
			$(".table-item-op").find("a.delbtn").click(function () {
				var url = $(this).attr("data-url");
				if(confirm("你确定要删除该监控吗？")) {
					$.ajaxPassport({
						url: url,
						success: function (res) {
							if (res.error == 1) {
								$.tips("删除失败","error");
							} else {
								$.tips("删除成功","success");
								loadlist();
							}
						},
					});
				}
			});
			//修改域名监控
			$(".table-item-op").find("a.editbtn").click(function () {
				var url = $(this).attr("data-url");
				edit_func(url);
			});
		});
		//全选，全不选
		$(".table-checkall").find("input.checkall").unbind("click").bind("click",function(){
			$.check_all(this);
		});
	}


	$(function(){
		//加载搜索
		$.loadform(search_formdata,"",function(res){
			pageurl = res.pageurl;
			loadlist();
			return true;
		},'',".the_searchform");
		//加载列表
		loadlist();
	})
</script>
<!--修改域名监控 start-->
<script type="text/template" id="tpl_domain_edit">
	<#macro rowedit data>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">${data.title}</h4>
		</div>
		<div class="form-content">
			<form action="{url /domain_monitor/monitor_edit}" method="post" class="theform form form-2" role="form">
				<div class="tpl"></div>
			</form>
		</div>
	</#macro>
</script>
<script language="javascript">
	var edit_domain_formdata = {
		domain:{type:"ivalue",label:"域名",name:"domain",value:"",data_sr:[],css:"font-gray",require:"",desc:"(默认不可修改)",item_css:"",disabled:1},
		monitor_rate:{type:"text",label:"监控频率",name:"monitor_rate",value:"",data_sr:[],css:"",require:"",desc:"分钟/次",item_css:""},
		monitor_port:{type:"text",label:"监控端口",name:"monitor_port",value:"",data_sr:[],css:"",require:"",desc:"",item_css:""},
		monitor_id:{type:"hidden",label:"",name:"monitor_id",value:"",data_sr:[],css:"",require:"",desc:"",item_css:""},
		btn:{type:"button",label:"",value:"保存修改",desc:'<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>'}
	};
	var edit_func = function(url){
		var edit_c = $("#tpl_domain_edit").html();
		edit_c = "" + easyTemplate(edit_c,{title:"修改域名监控"});
		$("#myModal").find(".modal-dialog").width(650);
		$("#myModal").find(".modal-content").html(edit_c);
		$.loadform(edit_domain_formdata,url,function(res){
			if(res.error == 0){
				$.tips(res.message,"success");
				$('#myModal').modal("hide");
				setTimeout(function(){
					loadlist();
				},500);
			}else{
				$.tips(res.message,"error");
			}
			return false;
		});
		$('#myModal').modal();
	}
</script>
<!--修改域名监控 end-->
{/block}