{block header}{/block}
{block main}
<div class="site-content">
    <div class="product-intro">
        <div class="intro-title">八戒DNS智能解析让你优化多网互通;八戒DNS提供超高DNS防护;八戒DNS监控自动监控服务器故障并自动智能切换，让你的网站更快更稳定！</div>
        <div class="dis20"></div>
        <div class="item">
            <div class="left" style="width: 470px;">
                <h1>超高防护</h1>
                <div class="txt">八戒DNS提供<strong>10G、20G、30G、40G、60G、300G</strong>的超高DNS防护，为网站提供 7x24 小时保驾护航。</div>
            </div>
            <div class="right">
                <img src="{skin images/highdun.gif}"/>
            </div>
            <div class="dis3"></div>
        </div>
        <div class="item">
            <div class="left">
                <img src="{skin images/highip.gif}"/>
            </div>
            <div class="right" style="width: 410px;">
                <h1>准确IP地址库，才能更智能！</h1>
                <div class="txt">实现智能解析需要拥有完整准确的全球IP地址库，八戒DNS与著名网络机构合 作，拥有最完善的IP地址库。涵盖国内各地ISP和海外各个国家的IP地址段。 让您的解析更加智能准确！</div>
            </div>
            <div class="dis3"></div>
        </div>
        <div class="item">
            <div class="left" style="width: 420px;">
                <h1>宕机智能监控</h1>
                <div class="txt">宕机监控程序使用超过多种独有的算法，一旦网站服务器失去 响应，立刻切换到备用服务器上，主服务器恢复后，再自动切 换回去。让网站平稳运行。 </div>
            </div>
            <div class="right">
                <img src="{skin images/highmonitor.jpg}"/>
            </div>
            <div class="dis3"></div>
        </div>
        <div class="item">
            <div class="left high">
                <img src="{skin images/highdomain.gif}"/>
            </div>
            <div class="right" style="width: 410px;">
                <h2 class="top">无限域名，无限记录</h2>
                <p>我们认为，基本的域名解析功能是不应受到任何限制的。你可以将所有的域名放在8jdns统一管理。我们允许添加所有类型的解析记录，包括A、CNAME、NS、MX、TXT、SRV、AAAA（IPv6）……，甚至还有免费的 URL 转发.</p>
                <div class="dis20"></div>
                <h2>实时生效</h2>
                <p>8jdns专有的DNS同步引擎，仅仅几秒就可以将 DNS 记录同步到8jdns全国的云DNS集群，快如闪电。</p>
                <div class="dis20"></div>
                <h2>99.99% 稳定运行时间</h2>
                <p>8jdns采用分布式DNS服务器架构。一个节点发生故障，其他节点不会受到影响，请求自动分配到可用服务器，对网站完全透明。</p>
                <div class="dis20"></div>
                <h2>最细致的区域划分</h2>
                <p>我们拥有最权威最精确的地址库，用来准确定位请求来源，为之分配最佳解析结果。电信？联通？移动？教育网？这些还不够，八戒DNS能给你各个大洲、国家，全国各种线路、各个省份的细致区域划分。</p>
                <div class="dis20"></div>
                <h2>搜索引擎优化</h2>
                <p>
                    新站想被马上被收录？想收录更多页面？8jdns完成你的心愿！我们与百度、搜搜、搜狗有着深入密切的合作关系。网站一旦开始使用 8jdns，数据将会被准确迅速地推送到各个搜索引
                    <span id="transmark" style="display: none; width: 0px; height: 0px;"></span>
                    擎.
                </p>
            </div>
            <div class="dis3"></div>
        </div>
        <div class="item">
            <div class="left" style="width: 380px;">
                <h1>简单易用</h1>
                <div class="txt">八戒DNS的管理界面简单易用、操作方便，大量人性化设计， 即使数千个域名的操作，也可以在几分钟内轻松完成。 </div>
            </div>
            <div class="right">
                <img class="img" src="{skin images/simple.jpg}"/>
            </div>
            <div class="dis3"></div>
        </div>
        <div class="intro-free">
            <h1>我们一直在免费</h1>
            <div class="free-text">八戒DNS自上线来，一直致力于带给更多人免费的优质DNS解析服务。我们设计高性能的DNS软件，用更少的资源满足更多的用户需求； 我们从来没有，也永远不会对基本的DNS功能收费。八戒DNS还有额外的套餐，以合理的价格提供了更好的服务，满足大中型网站和企业的需求。</div>
        </div>
        <div class="dis30"></div>
        <div class="intro-bottom">
            <h1>DNS解析，我们只选八戒DNS！</h1>
            <div class="intro-bottom-txt">如果您对TA还有其他疑问，请查看 <a href="{url home@/helper/index}" style="color: #00a1cb">帮助中心</a></div>
            <a href="{url account@/register}" type="button" class="am-btn am-radius am-btn-success"><img src="{skin images/index/rigister.gif}"></a>
        </div>
    </div>
</div>
<div class="dis20"></div>
{/block}