<div style="border-bottom: #cccccc 1px solid; border-left: #cccccc 1px solid; padding-bottom: 20px; margin: 0px auto; padding-left: 20px; width: 900px; padding-right: 20px; height: 1%; clear: both; font-size: 12px; border-top: #cccccc 1px solid; border-right: #cccccc 1px solid; padding-top: 20px" id=regist>
  <div style="padding-bottom: 5px; background-color: #eaf5fb; padding-left: 10px; padding-right: 10px; color: #105bac; clear: both; padding-top: 5px"><strong style="font-size: 16px">来自八戒DNS(www.8jdns.com) | 邮件通知</strong></div>
  <div style="margin: 10px">
    <div style="border-bottom: #e7e7e7 1px solid; padding-bottom: 20px; margin: 10px; padding-left: 0px; padding-right: 0px; padding-top: 20px">
      <p style="margin-top: 10px"><strong style="font-size: 16px">亲爱的[八戒DNS用户]，您好！</strong></p>
      <div style="line-height: 23px; padding-left: 30px">
       
        <div style="margin: 30px 0px;font-size:16px;">
          {$this->message}
        </div>
        <p style="margin: 30px 0px;font-size:16px;"><a href="{echo tUrl::get_host()}{url /ucenter}" title="请登录八戒DNS查看详情">请登录八戒DNS查看详情</a></p>
        <p>本邮件由系统自动发出，请勿回复。<br>
          感谢您使用<a href="{echo tUrl::get_host()}" target=_blank>八戒DNS</a>，<span style="padding-top: 10px">祝您在八戒DNS中收获价值。</span><a href="http://www.8jdns.com" target="_blank">速联科技</a></p>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 5px; margin: 10px; padding-left: 5px; padding-right: 5px; color: #999999; text-decoration: none; padding-top: 5px">
    <p>如果您在使用过程中遇到任何问题，您可以写信给我们：<a style="color: #999999" href="mailto:service@8jdns.com" target=_blank>service@8jdns.com</a></p>
    <p>或者拨打我们的客服电话：400-096-3600  与我们联系，我们会尽快为您解决</p>
  </div>
</div>