{block main}
<div class="am-uc-left">
    <div class="leftnav" id="Leftnav">
        <ul>
            <li><a href="{url /monitor/monitor}">实时监控&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
            <li><a href="{url /monitor/warning}" >报警信息&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
            <li><a href="{url /monitor/monitor_set}">监控设置&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
            <li><a href="{url /monitor/monitor_option_domain}"  class="cur">添加监控&nbsp;&nbsp;<cite class="am-icon-btn am-icon-angle-right"></cite></a></li>
        </ul>
    </div>
</div>
<div class="am-uc-right" >
    <div class="fabu-stepbox" style="margin-left:80px;">
        <ul class="clear">
            <li ><i class="i1">1</i><span>选择域名</span><b></b></li>
            <li class="current"><i class="i2">2</i><span>查看记录</span><b></b></li>
            <li ><i class="i3">3</i><span>监控设置</span></li>
        </ul>
    </div>
    <div class="check-record"></div>
    <div class="monitor-set"></div>
</div>
<div class="my-monitor-success"></div>
</div>
<div class="am-cf"></div>
{/block}

{block javascript}
{include monitor/monitor_tpl}
<!--八戒监控 -- 查看记录-->
<script type="text/template" id="tpl_monitor_find_tpl">
    <#macro rowedit data>
        <table class="am-table am-table-bordered am-table-radius">
            <col width="30" />
            <col width="240px;"/>
            <col width="240px;"/>
            <col />
            <thead>
            <tr>
                <th><input type="checkbox"  data-name="record_id[]" class="checkall"/></th>
                <th>线路类型</th>
                <th>主机头</th>
                <th>IP地址</th>
            </tr>
            </thead>
            <tbody>
            <#if (data.list.length == 0)>
                <tr><td colspan="4"><i class="am-icon-exclamation-triangle" style="color: orange"></i><font color="gray"> 当前记录值不存在(监控记录类型只能为A记录)</font></td></tr>
                <#else>
                    <#list data.list as record>
                        <#if (record.monitor.length == 0)>
                            <tr>
                                <td><input type="checkbox" name="record_id[]" value="${record.record_id}" checked="checked"/></td>
                                <td><#if ($.is_empty(acls[record.acl]))>${cust_line[record.acl.replace('cust','')].name}<#else>${acls[record.acl].name}</#if></td>
                                <td>${data.RRname}.${data.domain}</td>
                                <td>${record.RRvalue}</td>
                            </tr>
                        </#if>
                    </#list>
            </#if>
            </tbody>
        </table>
        <div class="dis20"></div>
        <button type="button" class="am-btn am-btn-default am-radius check-record-back" style="font-size: 15px;width: 240px;margin-left: 125px;">上一步</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="am-btn am-btn-warning am-radius check-record-next" style="font-size: 15px;width: 240px;">下一步</button>
    </#macro>
</script>
<script language="javaScript">
    var acls = {echo JSON::encode(C("category","domain_acl")->json(0,'ident'))};
    var cust_line = {echo JSON::encode(M("@domain_acl_set")->get_cust_list(1))};
    var domain = "{$domain}";
    var RRname = "{$RRname}";
    if (RRname == "@") {
        RRname = "";
    }

    $(function(){
        //去除点击焦点
        $("a,button").bind("focus",function(){
            $(this).blur();
        });
        domain_records_list(domain,RRname);
    });

    //获取域名记录列表
    var domain_records_list = function(domain,RRname){
        $.ui.loading();
        $.ajaxPassport({
            url:"{url /api/DomainRecord.GetAllByDomain}",
            success:function(res){
                $.ui.close_loading();
                if (res.status == 0) {
                    $.ui.error(res.msg);
                    return false;
                }

                if (RRname == '') {
                    RRname = "@";
                }
                res.data.RRname = RRname;
                res.data.domain = domain;

                var listhtml = ""+ easyTemplate($("#tpl_monitor_find_tpl").html(),res.data);
                $(".check-record").html(listhtml);

                //全选，全不选
                $(".check-record").find("input.checkall").unbind("click").bind("click",function(){
                    $.check_all(this);
                });

                //查看记录 ，上一步
                $(".check-record-back").unbind("click").bind("click",function(){
                    $.redirect("{url /monitor/monitor_option_domain?domain=}"+domain+"&RRname="+RRname);
                });
                //查看记录下一步

                $(".check-record-next").unbind("click").bind("click",function(){
                    var record_ids= new Array();
                    var ids_tmp  = $.fetch_ids("record_id[]");
                    record_ids = ids_tmp.split(",");
                    if (record_ids == "") {
                        $.ui.error("请选择要监控的记录");
                        return false;
                    }
                    var newData = new Array();
                    newData.RRname = RRname;
                    newData.domain = domain;
                    newData.list = new Array();

                    for(var i= 0;i<res.data['list'].length;i++){
                        if ($.in_array(res.data['list'][i].record_id,record_ids)) {
                            newData.list.push(res.data['list'][i]);
                        }
                    }

                    //向导设置
                    $(".check-record").hide();
                    $(".monitor-set").show();
                    $(".i2").parent().removeClass("current");
                    $(".i3").parent().addClass("current");

                    //当前类型为设置
                    newData.type = "set";
                    var listhtml = ""+ easyTemplate($("#tpl_monitor_tpl").html(),newData);
                    $(".monitor-set").html(listhtml);

                    monitor_tpl_set();
                });
            },
            data:{domain:domain,RRname:RRname}
        });
    };
</script>
<!--添加监控成功-->
<script type="text/template" id="tpl_monitor_success">
    <#macro rowedit data>
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">
                    <i class="am-icon-check-circle" style="color: #5EB95E;"></i>&nbsp;&nbsp;恭喜您，添加监控成功！
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="dis20"></div>
                <div class="am-modal-bd">
                    <a href="{url /monitor/monitor_option_domain}" ><button type="button" class="am-btn am-btn-default">继续添加</button></a>&nbsp;&nbsp;&nbsp;
                    <a href="{url /monitor/monitor}"><button type="button" class="am-btn am-btn-warning">查看监控列表</button></a>
                </div>
                <div class="dis30"></div>
            </div>
        </div>
    </#macro>
</script>
{/block}