{block main}
<div class="container" id="container">	
	<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_waiting weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">正在完善中</h2>
        <p class="weui_msg_desc">网页内容,正在开发中</p>
    </div>
    <div class="weui_opr_area" style="display:none;">
        <p class="weui_btn_area">
            <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
            <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
        </p>
    </div>
    <div class="weui_extra_area">
        <a href="#">查看详情</a>
    </div>
</div>
</div>
{/block}