<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>八戒DNS</title>
    <link rel="stylesheet" href="{skin dist/style/weui.css}"/>
    <link rel="stylesheet" href="{skin dist/example/example.css}"/>
    {block css}{/block}
</head>
<body ontouchstart>
{block main}{/block}

<script language="javascript"></script>
<script src="{skin dist/example/zepto.min.js}"></script>
<script src="{skin dist/example/router.min.js}"></script>
{block javascript}{/block}
</body>
</html>