{block main}
<div class="dis10"></div>
<div class="order-shopping">
	<div class="nav">
		<ul>
			<li class="un-use use1">
				<div class="icon">
					<span style="border: 1px solid #1BA208"><i class="am-icon-check" style="color:#1BA208;"></i></span>
					<font style="color:#1BA208;">查看购物车</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use2">
				<div class="icon">
					<span style="color:gray;">2</span>
					<font style="color:gray;">确认订单</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use3">
				<div class="icon">
					<span style="color:gray;">3</span>
					<font style="color:gray;">支付</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use4">
				<div class="icon">
					<span style="color:gray;">4</span>
					<font style="position: relative;top:3px;color:gray;">支付完成</font>
				</div>
			</li>
		</ul>
		<div class="dis10"></div>
	</div>
	<div class="content">
		<div class="dis10"></div>
		<div class="content-shop">
			<div class="step1" style="display: block;">
				<div class="step1_empty" {if !empty($cartlist0['list']) || !empty($cartlist1['list'])}style="display:none;"{/if}>
					<a href="javascript:void (0);" class="am-icon-btn am-default am-icon-cart-plus"></a>
					<span>购物车空空的哦~，去看看心仪的商品吧~</span><br/>
					<button type="button" class="am-btn am-btn-success am-radius am-btn-sm" onclick="$.redirect('{url home@/product/buy}')">立即选购</button>
				</div>
				<div class="step1_list">
					<form class="the_searchform form" method="POST" action="{url /order/cart_shopping}">
					<div class="dis10"></div>
						{if count($cartlist0['list'])>0}
						<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;font-size: 18px">域名套餐</div>
						<div class="dis10"></div>
						<hr/>
						<div class="cart-list">
							<table class="am-table am-table-hover">
								<col width="30px;"/>
								<col />
								<col width="120px"/>
								<col width="100px"/>
								<col width="120px"/>
								<col width="90px"/>
								<col width="90px"/>
								<col width="90px"/>
								<col width="60px"/>
								<thead>
								<tr>
									<th><input type="checkbox" checked="checked" data-name="domain" class="checkall" data-type="0"/></th>
									<th>域名</th>
									<th>套餐</th>
									<th>单价(月)</th>
									<th>时长</th>
									<th>优惠</th>
									<th>套餐余额</th>
									<th>总计</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody class="add-cart">
								{foreach items=$cartlist0['list']}
								<tr>
									<td><input type="checkbox" checked="checked" name="domain" value="{$item['goods_name']}" data-price="{$item['price']}" data-cart_id="{$item['cart_id']}" data-num="{$item['num']}" data-zk="{$item['amount_promation']}" data-yu="{$item['amount_other']}" data-total="{$item['amount']}"/></td>
									<td class="am-text-primary">{$item['goods_name']}</td>
									<td><font class="am-text-success"> {$item['goods_no_name']}</font><font class="am-text-gray"> {if ($item['service_group'] == $item['goods_no'])}(续费){else}(升级){/if}</font></td>
									<td class="price"><font class="am-text-gray"><span>{$item['price']}</span>元</font></td>
									<td>
										<select name="num"  data-type="0" style="width: 80px;height: 30px;" class=" am-text-xs">
											{foreach items=$data_config['service_num'] key=$key2 item=$item2}
												{if $this->userinfo['utype'] == 2}
													{if $key2>9}
													<option {if $item['num'] == $key2}selected="selected"{/if} value="{$key2}">{$item2}</option>
													{/if}
												{else}
													{if $key2<=10}
													<option {if $item['num'] == $key2}selected="selected"{/if} value="{$key2}">{$item2}</option>
													{/if}
												{/if}
											{/foreach}
										</select>
									</td>
									<td class="zk"><font class="am-text-success">{$item['amount_promation']}</font></td>
									<td class="yu"><font class="am-text-success">{$item['amount_other']}</font></td>
									<td class="total"><font class="am-text-warning">{$item['amount']}</font></td>
									<td><a href="javascript:void (0);" class="Del" data-type="0" data-domain="{$item['goods_name']}">删除</a></td>
								</tr>
								{/foreach}
								</tbody>
							</table>
						</div>
						{/if}
						{if count($cartlist1['list'])>0}
						<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;font-size: 18px">增值服务</div>
						<div class="dis10"></div>
						<hr/>
						<div class="cart-list">
							<table class="am-table am-table-hover">
								<col width="30px;"/>
								<col />
								<col width="100px"/>
								<col width="120px"/>
								<col width="90px"/>
								<col width="90px"/>
								<col width="60px"/>
								<thead>
								<tr>
									<th><input type="checkbox" checked="checked" data-name="sms" class="checkall" data-type="1"/></th>
									<th>增值服务</th>
									<th>单价</th>
									<th>数量</th>
									<th>优惠</th>
									<th>总计</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody class="add-cart">
								{foreach items=$cartlist1['list']}
								<tr>
									<td><input type="checkbox" checked="checked" name="sms" data-price="{$item['price']}" data-cart_id="{$item['cart_id']}" data-num="{$item['num']}" data-zk="{$item['amount_promation']}" data-total="{$item['amount']}"/></td>
									<td class="am-text-primary">{$item['goods_no']}</td>
									<td class="price"><font class="am-text-gray"><span>{$item['price']}</span>元</font></td>
									<td>
										<select name="sms-num"  data-type="1" style="width: 80px;height: 30px;" class="am-text-xs">
											{foreach items=array(1,2,3,4,5,6,7,8,9,10) item=$item2}
												<option {if $item['num'] == $item2}selected="selected"{/if} value="{$item2}">{$item2}</option>
											{/foreach}
										</select>
									</td>
									<td class="zk"><font class="am-text-success">{$item['amount_promation']}</font></td>
									<td class="total"><font class="am-text-warning">{$item['amount']}</font></td>
									<td><a href="javascript:void (0);" class="Del" data-type="1" data-id="{$item['cart_id']}">删除</a></td>
								</tr>
								{/foreach}
								</tbody>
							</table>
						</div>
						{/if}

						{if !empty($cartlist0['list'])}
							{if count($coupon) > 0}
								<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;font-size: 18px">代金券</div>
								<div class="dis10"></div>
								<div class="coupon-c">
									{foreach items = $coupon}
									{if $key == 0}
									<input type="checkbox" name="coupon" {if intval($cartlist0['amount']+$cartlist1['amount']) > $item['need_balance']}checked="checked"{else}disabled{/if} data-code="{$item['code']}"  value="{$item['balance']}"/>&nbsp;&nbsp;{$item['name']}&nbsp;{if intval($cartlist0['amount']+$cartlist1['amount']) <= $item['need_balance']}(未满{$item['need_balance']}元,不能使用){/if}<br/>
									{/if}
									{/foreach}
								</div>
							{/if}
						{/if}

					<div class="dis30"></div>

					<div class="cart-add-order" {if empty($cartlist0['list']) && empty($cartlist1['list'])}style="display:none;"{/if}>
						<div class="hadcheck">已选商品<span style="color: #FA7821;font-size: 16px;"><strong>{echo ($cartlist0['num']+$cartlist1['num'])}</strong></span>件</div>
						<div class="go-add">
							<input type="hidden" name="hash" value="{hash}" />
							<input type="hidden" name="cart_ids" value="" />
							<input type="hidden" name="coupons" value="" />
							套餐总价：<span class="total">{echo sprintf("%.2f",($cartlist0['amount_promation']+$cartlist0['amount_other']+$cartlist0['amount']+$cartlist1['amount_promation']+$cartlist1['amount']))}</span>元<br/>
							- 共优惠：<span class="coupon">{echo sprintf("%.2f",($cartlist0['amount_promation']+$cartlist1['amount_promation']))}</span>元<br/>
							<div class="coupon-console">- 代金券：<span class="coupon-m">0.00</span>元<br/></div>
							<div style="border-bottom: 2px solid silver;width: 300px;float: right;">- 套餐余额：<span class="total_yu">{$cartlist0['amount_other']}</span>元</div><br/>
							<div class="dis10"></div>
							应付总价：<span class="total-sum" style="color: #FA7821;font-size: 34px;"><strong>{echo sprintf("%.2f",($cartlist0['amount']+$cartlist1['amount']))}</strong></span>元&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="am-btn am-btn-warning am-radius am-btn-sm go-account">去结算</button><br/>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dis30"></div>
{/block}

{block javascript}
{include order/order_tpl}
<script type="text/javascript">
	$(function () {
		//删除操作,域名套餐
		$(".add-cart").find(".Del").unbind("click").bind("click",function(){
			var obj = this;
			var type = $(obj).data("type");
			if (type == 0) { //域名服务套餐
				var goods_name = $(obj).data("domain");
				var data = {goods_name:goods_name,type:0};
			}else if (type == 1) {//短信增值服务
				var cart_id = $(obj).data("id");
				data = {cart_id:cart_id,type:1};
			}
			$.ui.loading();
			$.ajaxPassport({
				url:U("/api/Cart.Del"),
				success:function(res){
					if (res.status == 1) {
						$.ui.success(res.msg);
						$.ui.close_loading();
						$(obj).parent().parent().remove();
						//商品总数减一
						var n = $(".cart-add-order").find(".hadcheck strong").html();
						if (n >0) {
							n--;
							$(".cart-add-order").find(".hadcheck strong").html(n);
							checked_no(type);
						}

						if ($(".cart-list").find("table tbody tr").length == 0) {
							$(".step1 .step1_empty").show();
							$(".step1 .step1_list").hide();
						}

						domain_register_tips();
					}else{
						$.ui.error(res.msg);
					}
				},
				data:data
			})
		});
		//点击时间按钮触发事件
		$(".add-cart tr select").unbind("change").bind("change",function(){
			var obj=this;
			var type = $(obj).data("type");
			if (type == 0) {//域名服务套餐
				var cart_id = $(obj).parent().parent().find("input[name='domain']").data("cart_id");
			}else if (type == 1){//增值服务套餐
				cart_id = $(obj).parent().parent().find("input[name='sms']").data("cart_id");
			}
			var num = $(obj).val();
			$.ui.loading();
			$.ajaxPassport({
				url:"{url account@/api/Cart.Edit}",
				success:function(res){
					if(res.status == 1){

					}else{

					}
					$.ui.close_loading();
					account_total($(obj).parent().parent(),type);
				},
				data:{cart_id:cart_id,num:num},
			});
		});
		//全选，全不选
		$(".content-shop").find("input.checkall").unbind("click").bind("click",function(){
			$.check_all(this);
			var type = $(this).data("type");
			checked_no(type);
		});
		//已选商品个数域名套餐
		$(".content-shop").find("input[name='domain']").unbind("click").bind("click",function(){
			checked_no(0);
		});
		//已选商品个数短信增值服务
		$(".content-shop").find("input[name='sms']").unbind("click").bind("click",function(){
			checked_no(1);
		});
		//去结算
		$(".go-account").click(function(){
			var cart_ids = new Array();
			var coupon_codes = new Array();
			//域名服务套餐
			$(".content-shop").find("tr input[name='domain']:checked").each(function(){
				var obj = this;
				cart_ids.push($(obj).data('cart_id'));
			});
			//短信增值服务
			$(".content-shop").find("tr input[name='sms']:checked").each(function(){
				var obj = this;
				cart_ids.push($(obj).data('cart_id'));
			});
			//优惠代金券
			$(".content-shop").find("input[name='coupon']:checked").each(function(){
				var obj = this;
				coupon_codes.push($(obj).data('code'));
			});
			if (coupon_codes.length > 1) {
				$.ui.error("一次性只能消费一张代金券！");
				return false;
			}
			if (cart_ids.length <= 0) {
				$.ui.error("请选择需要购买的服务");
				return false;
			}

			$("input[name='cart_ids']").val(cart_ids.join(","));
			$("input[name='coupons']").val(coupon_codes.join(","));
			return true;
		});
		//代金券计算
		coupon_fun();
		//点击时触发代金券函数
		$(".content-shop").find(".coupon-c input[name='coupon']").unbind("click").bind("click",function(){
			coupon_fun("c");
		});
	})
	//计算总价,域名服务套餐
	var account_total = function(dobj,type){
		var obj = dobj;
		if (type == 0) {//域名服务套餐
			var s = "select[name='num']";
			var n = "input[name='domain']";
			obj.find(n).attr("checked",true);
			var yu = obj.find(n).data("yu");
		}else if (type == 1) {//短信增值服务
			var s = "select[name='sms-num']";
			var n = "input[name='sms']";
			obj.find(n).attr("checked",true);
		}

		var num = obj.find(s).val();
		var service_price   = obj.find(n).data("price");
		var be_num = obj.find(n).data("num");
		var zk = obj.find(n).data("zk");

		//优惠价
		var youhui = parseFloat(num) * (parseFloat(zk)/parseFloat(be_num));
		obj.find("td.zk font").html($.to_float2(youhui));
		//总计
		if (type == 0) {//域名服务套餐
			var total  = $.to_float2(parseInt(num) *parseFloat(service_price)-youhui-yu);
		}else if (type == 1) {//短信增值服务
			var total  = $.to_float2(parseInt(num) *parseFloat(service_price)-youhui);
		}

		obj.find("td.total font").html($.to_float2((total < 0)?0:total));
		//已选商品,套餐总价,优惠价,应付总价
		checked_no(type);
	}
	//已选商品个数,套餐总价,优惠价,应付总价
	var checked_no = function(type){
		var len = $(".content-shop").find("tr input[name='domain']:checked").length; //域名套餐
		var len1 = $(".content-shop").find("tr input[name='sms']:checked").length; //短信服务
		$(".cart-add-order").find(".hadcheck strong").html(len+len1);

		//套餐总价,优惠价,应付总价
		var service_total = 0;
		var service_zk = 0;
		var total_yu = 0;
		if (len > 0) {//域名套餐
			$(".content-shop").find("tr input[name='domain']:checked").each(function(){
				var obj=this;
				var tmp1_price = $(obj).parent().parent().find("td.price span").html();
				var tmp1_num = $(obj).parent().parent().find("select[name='num']").val();
				var tmp2 = $(obj).parent().parent().find("td.zk font").html();
				var tmp3 =$(obj).parent().parent().find("td.yu font").html();
				service_total = service_total + parseFloat(tmp1_price) * parseInt(tmp1_num);
				service_zk = service_zk + parseFloat(tmp2);
				total_yu = total_yu + parseFloat(tmp3);
			});
		}
		if (len1 > 0) {//短信增值服务
			$(".content-shop").find("tr input[name='sms']:checked").each(function(){
				var obj=this;
				var s_tmp1_price = $(obj).parent().parent().find("td.price span").html();
				var s_tmp1_num = $(obj).parent().parent().find("select[name='sms-num']").val();
				var s_tmp2 = $(obj).parent().parent().find("td.zk font").html();
				service_total = service_total + parseFloat(s_tmp1_price) * parseInt(s_tmp1_num);
				service_zk = service_zk + parseFloat(s_tmp2);
			});
		}
		$(".go-add span.total").html($.to_float2(service_total));
		$(".go-add span.coupon").html($.to_float2(service_zk));
		$(".go-add span.total_yu").html($.to_float2(total_yu));
		$(".go-add strong").html($.to_float2((service_total-service_zk-total_yu) < 0?0:service_total-service_zk-total_yu));
		//代金券计算
		coupon_fun();
	}
	//如果代金券存在，计算代金券价格todo:优惠值大于套餐 解决方法，显示隐藏法 套餐总价算法
	var coupon_fun = function (type) {
		var len = $(".content-shop").find("tr input[name='domain']:checked").length; //域名套餐
		if (len > 0) {
			var coupon_m =  0;
			var c_num = 0;
			$(".content-shop").find(".coupon-c input[name='coupon']").each(function () {
				var obj = this;
				coupon_m += parseInt($(obj).val());

				if ($(obj).is(':checked')) {
					c_num ++;
				}
			});
			if (c_num > 0) {
				$(".cart-add-order").find(".coupon-console").show();
				$(".cart-add-order").find("span.coupon-m").html($.to_float2(coupon_m));
				$("input[name='coupon_m']").val(coupon_m);

				$(".go-add strong").html($.to_float2($(".go-add strong").html() - $.to_float2(coupon_m) <= 0?0:$(".go-add strong").html() - $.to_float2(coupon_m)));
			}else{
				$(".cart-add-order").find(".coupon-console").hide();
				//仅点击checkbox恢复
				if (type == "c") {
					$(".go-add strong").html($.to_float2(parseInt($(".go-add strong").html()) + parseInt(coupon_m)));
				}
				//如果代金券金额大于套餐金额
				if (parseInt($(".go-add span.total").html()) < coupon_m) {
					$(".go-add strong").html($.to_float2(parseInt($(".go-add span.total").html()) - parseInt($(".go-add span.coupon").html()) - parseInt($(".go-add span.total_yu").html())));
				}
			}
			c_num = 0;
		}
	}
</script>
{/block}