{block main}
<div class="dis10"></div>
<div class="order-shopping">
	<div class="nav">
		<ul>
			<li class="un-use use1">
				<div class="icon">
					<span style="border: 1px solid #1BA208"><i class="am-icon-check" style="color:#1BA208;"></i></span>
					<font style="color:#1BA208;">查看购物车</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use2">
				<div class="icon">
					<span style="border: 1px solid #1BA208"><i class="am-icon-check" style="color:#1BA208;"></i></span>
					<font style="color: #1BA208;">确认订单</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use3">
				<div class="icon">
					<span style="color:gray;">3</span>
					<font style="color:gray;">支付</font>
					<i class="am-icon-angle-right am-icon-lg" style="color:#E2E2E3;"></i>
				</div>
			</li>
			<li class="un-use use4">
				<div class="icon">
					<span style="color:gray;">4</span>
					<font style="position: relative;top:3px;color:gray;">支付完成</font>
				</div>
			</li>
		</ul>
		<div class="dis10"></div>
	</div>
	<div class="content">
		<div class="dis10"></div>
		<div class="content-shop">
			<div class="step1" style="display: block;">
				{if empty($cartlist0['list']) &&  empty($cartlist1['list'])}
				<div class="step1_empty">
					<a href="javascript:void (0);" class="am-icon-btn am-default am-icon-cart-plus"></a>
					<span>购物车空空的哦~，去看看心仪的商品吧~</span><br/>
					<button type="button" class="am-btn am-btn-secondary am-radius am-btn-sm" onclick="alert('跳转到前台套餐详细页面...');">立即选购</button>
				</div>
				{else}
				<div class="step1_list">
					<form class="the_searchform form" method="POST" action="{url /order/cart_shopping_step3}">
					<div class="dis10"></div>
						{if count($cartlist0['list'])>0}
							<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;">域名套餐</div>
							<div class="dis10"></div>
							<hr/>
							<div class="cart-list">
								<table class="am-table am-table-hover">
									<col />
									<col width="120px"/>
									<col width="100px"/>
									<col width="120px"/>
									<col width="90px"/>
									<col width="90px"/>
									<col width="90px"/>
									<thead>
									<tr>
										<th>域名</th>
										<th>套餐</th>
										<th>单价</th>
										<th>时长</th>
										<th>优惠</th>
										<th>套餐余额</th>
										<th>总计</th>
									</tr>
									</thead>
									<tbody class="add-cart">
									{foreach items=$cartlist0['list']}
									<tr>
										<td class="am-text-primary">{$item['goods_name']}<input type="hidden" name="cart_ids0" value="{$item['cart_id']}" /></td>
										<td><font class="am-text-success"> {$item['goods_no_name']}</font><font class="am-text-gray"> {if ($item['service_group'] == $item['goods_no'])}(续费){else}(升级){/if}</font></td>
										<td class="price"><font class="am-text-gray"><span>{$item['price']}</span>元</font></td>
										<td>{if $item['num']<10}{$item['num']}个月{else}{echo $item['num']/10}年{/if}</td>
										<td class="zk"><font class="am-text-success">{$item['amount_promation']}</font></td>
										<td class="yu"><font class="am-text-success">{$item['amount_other']}</font></td>
										<td class="total"><font class="am-text-warning">{$item['amount']}</font></td>
									</tr>
									{/foreach}
									</tbody>
								</table>
							</div>
						{/if}
						<div class="dis20"></div>
						{if count($cartlist1['list'])>0}
							<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;font-size: 18px">增值服务</div>
							<div class="dis10"></div>
							<hr/>
							<div class="cart-list">
								<table class="am-table am-table-hover">
									<col />
									<col width="100px"/>
									<col width="120px"/>
									<col width="90px"/>
									<col width="90px"/>
									<col width="60px"/>
									<thead>
									<tr>
										<th>增值服务</th>
										<th>单价</th>
										<th>数量</th>
										<th>优惠</th>
										<th>总计</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody class="add-cart">
									{foreach items=$cartlist1['list']}
									<tr>
										<td class="am-text-primary">{$item['goods_no']}<input type="hidden" name="cart_ids1" value="{$item['cart_id']}" /></td>
										<td class="price"><font class="am-text-gray"><span>{$item['price']}</span>元</font></td>
										<td>
											{$item['num']}
										</td>
										<td class="zk"><font class="am-text-success">{$item['amount_promation']}</font></td>
										<td class="total"><font class="am-text-warning">{$item['amount']}</font></td>
										<td><a href="javascript:void (0);" class="Del" data-type="1" data-id="{$item['cart_id']}">删除</a></td>
									</tr>
									{/foreach}
									</tbody>
								</table>
							</div>
						{/if}

						{if !empty($cartlist0['list']) || !empty($cartlist1['list'])}
							{if isset($coupon_arr['id'])}
									<div class="cart-type" style="border-left: 2px solid #5D9FD6;padding-left: 10px;font-size: 18px">代金券</div>
									<div class="dis10"></div>
									<div class="coupon-c">
										{$coupon_arr['name']}<br/>
									</div>
							{/if}
						{/if}

						<div class="dis20"></div>
					<div class="cart-add-order">
						<div class="hadcheck" style="position: relative;left:14px;">已选商品：<span style="color: #FA7821;font-size: 16px;"><strong>{echo ($cartlist0['num']+$cartlist1['num'])}</strong></span>件</div>
						<div class="go-add">
							<input type="hidden" name="hash" value="{hash}" />
							<input type="hidden" name="coupon_code" value="{if isset($coupon_arr['id'])}{$coupon_arr['code']}{/if}" />
							套餐总价：<span class="total">{echo sprintf("%.2f",($cartlist0['amount_promation']+$cartlist0['amount_other']+$cartlist0['amount']+$cartlist1['amount_promation']+$cartlist1['amount']))}</span>元<br/>
							- 共优惠：<span class="coupon">{echo sprintf("%.2f",($cartlist0['amount_promation']+$cartlist1['amount_promation']))}</span>元<br/>
							{if isset($coupon_arr['id'])}<div class="coupon-console">- 代金券：<span class="coupon-m">{echo sprintf("%.2f",$coupon_arr['balance'])}</span>元<br/></div>{/if}
							<div style="border-bottom: 2px solid silver;width: 300px;float: right;">- 套餐余额：<span class="total_yu">{$cartlist0['amount_other']}</span>元</div><br/>
							<div class="dis10"></div>
							应付总价：<span class="total-sum" style="color: #FA7821;font-size: 34px;">
							<strong>
								{if isset($coupon_arr['id'])}
								{echo sprintf("%.2f",($cartlist0['amount']+$cartlist1['amount']-$coupon_arr['balance']))}
								{else}
								{echo sprintf("%.2f",($cartlist0['amount']+$cartlist1['amount']))}
								{/if}
							</strong>
						</span>元&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="am-btn am-btn-warning am-radius am-btn-sm submit-order">提交订单</button><br/>
							<a href="{url /order/cart_shopping}"><button type="button" class="am-btn am-btn-default am-radius am-btn-sm goback">返回上一步</button></a>
						</div>
					</div>
					</form>
				</div>
				{/if}
			</div>
			<div class="my-add-order"></div>
		</div>
	</div>
</div>
<div class="dis30"></div>
<!--添加订单失败-->
<script type="text/template" id="tpl_add_order">
	<#macro rowedit data>
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">
					<i class="am-icon-exclamation-triangle" style="color: orange;"></i>&nbsp;&nbsp;${data.msg}
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<div class="dis20"></div>
				<div class="am-modal-bd">
					<a href="javascript: void(0)" data-am-modal-close><button type="button" class="am-btn am-btn-default">关闭</button></a>&nbsp;&nbsp;&nbsp;
					<a href="{url /order/order}" ><button type="button" class="am-btn am-btn-warning">查看订单列表</button></a>
				</div>
				<div class="dis30"></div>
			</div>
		</div>
	</#macro>
</script>
{/block}
{block javascript}
<script language="JavaScript">

	$(function(){
		$("button.submit-order").bind("click",function(){
			var coupon_code = $("input[name='coupon_code']").val();
			//域名服务套餐
			var cart_ids0 = [];
			$("input[name='cart_ids0']").each(function(){
				cart_ids0.push($(this).val());
			});
			//短信服务套餐
			var cart_ids1 = [];
			$("input[name='cart_ids1']").each(function(){
				cart_ids1.push($(this).val());
			});
			if(cart_ids0.length > 0 || cart_ids1.length > 0){
				if (cart_ids0.length > 0) {
					var data = {"cart_ids0":cart_ids0.join(",")};
				}
				if (cart_ids1.length > 0) {
					data = {"cart_ids1":cart_ids1.join(",")};
				}
				if (cart_ids0.length > 0 && cart_ids1.length > 0) {
					data = {"cart_ids0":cart_ids0.join(","),"cart_ids1":cart_ids1.join(",")};
				}
				data.coupon_code = coupon_code;
				$.ui.loading();
				$.ajaxPassport({
					url:"{url /api/Order/Add}",
					data:data,
					success:function(res){
						$.ui.close_loading();
						if(res.status == 1){
							var order_no = res.data.order_no;
							$.ui.success("提交成功！");
							setTimeout(function(){
								$.redirect("{url /order/order_view?order_no=}"+order_no);
							},1000);
						}else{
							setTimeout(function(){
								var html = "" + easyTemplate($("#tpl_add_order").html(),res);
								$(".my-add-order").html(html);
								$(".my-add-order").find('#doc-modal-1').modal({width: 450,closeViaDimmer:false});
							},600);
						}
					}
				});
			}
		})
	})
</script>
{/block}
